/*p{
	color:black;
	font-size:20px;
	font-family:asdf, arial, "Times new roman";
	text-shadow:1px 1px 1px #35b8b0;
}*/

body{
	
	background-color:white;
}
	
*{
	margin:0;
	font-family:Helvetica, arial;
	padding: 0 5px 0 5px;
}

header{
	display:flex;
	background-color:black;
	padding:10px;
	height:auto;
	
	
}

footer{
	margin-top:55%;
	background-color:black;
	padding:10px;
	height:auto;
	padding-left:25%;
	
}

#conteudo img{
	
	width:5%;
    
	
}

h1{	
	font-size: 3.3vw;
	color: black;
	text-align:left;
	padding:0 5px 0 10%;
	margin:0 0 10px 0;
	text-shadow:1px 1px 1px #ffffff;
	font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

hr {
	margin-right: 8%;
	margin-left: 8%;
	
}

#recuo{
	font-size: 1.3vw;
	max-width:100%;
    width: 40%;
    height: auto;
	float:left;
	padding-left:25%;
}	

#recuo p{
	font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",
	Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
	color:rgba(0, 0, 0, 0.54);
	
	/*#BDBBBB;*/
}

#recuo h2{
	font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
	
}

#designer{
	margin-left: 33.5%;
	width:50%;
	
	
}

#designer img{
	float:right;
	padding-right: 4%;
	width:30%;
	max-height:300px;
	box-sizing: border-box;
    display: inline-block;
    position: relative;
	
}

#balloon{
	margin-left: 33.5%;
	width:50%;
	
	
	
}

#balloon img{
	float:right;
	padding-right: 4%;
	width:30%;
	max-height:300px;
	margin-top:5%;
	box-sizing: border-box;
    display: inline-block;
    position: relative;
	
}

#netflix{
	margin-left: 33.5%;
	width: 50%;
	
	
	
}

#netflix img{
	float:right;
	padding-right: 4%;
	width:30%;
	margin-top:10%;
	max-height:350px;
	box-sizing: border-box;
    display: inline-block;
    position: relative;
	margin-top:10%;
}

/*DIVS*/
#principal{
	
	background-color:white;
	clear:both;
	min-height:100%;
	padding:10px;
	max-width:100%;
    height: auto;
	margin-top:2%;
	
	
}


#logos img{
	float:left;
	width:20%;
	
}

#menu{
    width: 77%;
	float:right;
	padding-top:2%;
	
	
}

#menu a{
	font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",
	Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
	font-size: 1.3vw;
	padding:25px;
	text-decoration:none;
	color: #BDBBBB;
	text-shadow:1px 1px 1px black;
	
}

#menu a:hover{
	background-color:#A9A9A9;
	
	
}

/* class*/
.container{

	width:100%;
	margin:0 auto;
	height: auto;
}
/*
.efeito{
	background-color:rgba(0, 0, 0, 0.5);
	
}*/
